services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: "{{ uid }}:{{ gid }}"
    restart: unless-stopped
    ports:
      - "8096:8096"
    volumes:
      - {{ data_dir }}/config:/config
      - {{ data_dir }}/cache:/cache
      - {{ media_root }}:/media:ro
    environment:
      - TZ={{ tz }}
